*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    
    background-image: url("https://images.pexels.com/photos/109669/pexels-photo-109669.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 5% 0;
    opacity: .9;
    padding: 2rem !important;
}
